.title {
  color: #1858ca;
  font-family: Lalezar;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 96px;
  margin-top: 60px;
}
.bar {
  width: 12800px;
  height: 61px;
  flex-shrink: 0;
  background: #427be1;
}
.menu1 {
  position: absolute;
  width: 23px;
  height: 2px;
  flex-shrink: 0;
  background-color: white;
  z-index: 2;
  margin-top: 24px;
  margin-left: 71px;
}
.menu2 {
  position: absolute;
  width: 16px;
  height: 2px;
  flex-shrink: 0;
  background-color: white;
  z-index: 2;
  margin-top: 30px;
  margin-left: 71px;
}
.menu3 {
  position: absolute;
  width: 23px;
  height: 2px;
  flex-shrink: 0;
  background-color: white;
  z-index: 2;
  margin-top: 37px;
  margin-left: 71px;
}
.채용정보 {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  margin-left: 190px;
}
